<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/Content/css/admin/styles.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="/admin/index">Dashboard</a></h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logout <b class="caret"></b></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li><a href="/admin/index"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                        <li><a href="/admin/projects"><i class="glyphicon glyphicon-calendar"></i> Projects</a></li>
                        <li><a href="/admin/EditAbout/1"><i class="glyphicon glyphicon-calendar"></i> Edit about</a></li>
                    </ul>
                </div>
            </div>
            <!-- Test-->
            <div class="col-md-10">
                @RenderBody()
            </div>

        </div>
    </div>
    <footer>
        <div class="container">
            <div class="copy text-center">Copyright 2018 </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/css/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/js/admin/custom.js"></script>
    @*<script src="~/Content/js/admin/tables.js"></script>*@
</body>
</html>
