
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<main>
    <div class="maintop">
        <div class="main_top_color">
            <h2>Projekts<span style="color: white">.</span></h2>
        </div>
    </div>
    <div class="mainIndexContent">

        <video autoplay loop>
            <source src="~/content/video/bird-rig_1.mp4" type="video/mp4" />
        </video>

    </div>
</main>