
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_ProjectsLayout.cshtml";
}
<!--PRELOADER-->
<div class="preloader-wrapper-blue preloader-blue">

    <div class="wrap2 preloader">
        <div class="boxcube2">
            <div class="boxfront face1" style="background-image:url('/Content/img/david logo.png');background-size:cover;background-position:bottom;"></div>
            <div class="boxback face1" style="background-image:url('/Content/img/david logo.png');background-size:cover;background-position:bottom;"></div>
            <div class="boxtop face1" style="background-color:#57a2ef;"></div>
            <div class="boxbottom face1" style="background-color:#57a2ef;"></div>
            <div class="boxleft face1" style="background-color:#57a2ef;"><div class="face2"></div></div>
            <div class="boxright face1" style="background-color:#57a2ef;"><div class="face2"></div></div>
        </div>
    </div>

</div>
<!--PRELOADER-->
<main>
    <div class="maintop">
        <div class="logobox">
            <a style=" text-decoration:none;" href="/home/Index">
                <h1>Dav</h1>
                <h1>id.</h1>
            </a>
        </div>
        <div class="main_top_color">

            <h2>Projects<span style="color: white">.</span></h2>
        </div>
    </div>
    <!--Partial-->
    @Html.Action("ListProjects", "Home")




</main>

